@"
.env
node_modules/
__pycache__/
*.pyc
dist/
build/
"@ | Out-File -Encoding utf8 .gitignorefrontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/0.pack
